.button {
  // Noth: Both values below required for icon button sizing
  // Note: border-width must be set in [data-button="icon"]
  --button-font-size: var(--font-size-meta);
  --button-line-height: var(--line-height-fine);

  /* Layout and spacing */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-block: var(--button-y-padding);
  padding-inline: var(--button-x-padding);
  inline-size: var(--button-inline-size, auto);
  gap: 3ch;

  /* Colours */
  background: var(--button-bg);
  color: var(--button-color);

  /* Stroke and radius */
  border: var(--border);
  border-color: var(--border-color, transparent);
  border-radius: var(--button-border-radius);

  /* Typography */
  font-size: var(--button-font-size);
  font-family: sans-serif;
  font-weight: var(--font-weight-medium);
  line-height: var(--button-line-height);
  text-decoration: none;

  /* Icon settings */
  svg {
    max-block-size: 1em;
    max-inline-size: 1em;
    transition: transform 0.2s linear;
    transform: rotate(0deg);
  }

  /* Interactive */
  cursor: pointer;

  /* States */
  &:hover:not(:disabled) {
    background-color: var(--button-bg-hover);
  }

  &:disabled {
    background-color: var(--button-bg-disabled, #8b8b8d);
    color: var(--button-color-disabled, #fcfcfc);
    cursor: default;
  }

  /* Variants */
  &[data-button] {
    --button-y-padding: 0.75em;
    --button-x-padding: 1.1em;
    --button-border-radius: var(--border-radius-s);
  }

  &[data-button="primary"] {
    --button-bg: #18181b;
    --button-color: #fafafa;

    &:hover:not(:disabled) {
      --button-bg-hover: #2f2f31;
    }
  }

  &[data-button="secondary"] {
    --button-bg: #f4f4f5;
    --button-color: #18181b;

    &:hover:not(:disabled) {
      --button-bg-hover: #f6f6f7;
    }
  }

  &[data-button="outline"] {
    --button-bg: #ffffff;
    --button-color: #09090b;
    --border-color: #e4e4e7;

    &:hover:not(:disabled) {
      --button-bg-hover: #f4f4f5;
    }
  }

  &[data-button="ghost"] {
    --button-bg: #ffffff;
    --button-color: #09090b;

    &:hover:not(:disabled) {
      --button-bg-hover: #f4f4f5;
    }
  }

  &[data-button="link"] {
    --button-bg: #ffffff;
    --button-color: #09090b;
    text-underline-offset: 0.2em;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  &[data-button="icon"] {
    --button-bg: #ffffff;
    --button-color: #09090b;
    --border-color: #e4e4e7;

    --_padding-y: calc(var(--button-y-padding) * 2);
    --_content: calc(var(--button-font-size) * var(--button-line-height));
    --_border: 2px;
    block-size: calc(var(--_padding-y) + var(--_content) + var(--_border));
    aspect-ratio: 1;

    svg {
      position: absolute;
      inset: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover:not(:disabled) {
      --button-bg-hover: #f4f4f5;
    }
  }
}
