/* Layouts are completely controlled by the layout compositions: flow and cluster. 
   All we do in this component is configure their spacing */
.nav {
  --flow-space: var(--space-m);
  --gutter: var(--space-s) var(--space-l);

  line-height: var(--leading-flat);
  font-weight: var(--font-bold);

  /* The default behaviour for links is to have an underline. We remove that 
     only if the item isn't being hovered or is the current active page */
  a:not(:hover):not([aria-current="page"]) {
    text-decoration: none;
  }
}
