/*
 * UNDERLINE
 * A utility that applies an underline decoration to text.
 * Info: https://www.youtube.com/watch?v=x3MTfp3HDLc
 */

.underline {
  text-decoration-line: underline;
  text-decoration-color: hotpink;
  text-decoration-style: solid;
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.3ex;
  text-decoration-skip-ink: none;
}
