/*
 * CENTER
 * A utility that centers an element both vertically and horizontally.
 * Info: https://every-layout.dev/layouts/center/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --center-box-sizing: Controls the box-sizing property of the .u-center class.
 * 
 * A data attribute [data-center="children"] can be used to center the 
 * child elements of the selected element.
 */

.center {
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
