/*
 * REPEL
 * A layout that pushes items away from each other where there is space in the
 * viewport and stacks on small viewports.
 * Info: https://set.studio/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --repel-vertical-alignment: How items should align vertically.
 * --repel-space: The space between each item.
 * 
 * A data attribute [data-repel="nowrap"] can be used to prevent items from
 * wrapping onto the next line.
 */

.repel {
  display: flex;
  flex-direction: var(--repel-direction, row);
  flex-wrap: var(--repel-wrap, wrap);
  justify-content: var(--repel-horizontal-alignment, space-between);
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--repel-space, var(--space-gutter));

  &[data-repel="nowrap"] {
    flex-wrap: nowrap;
  }

  &[data-repel="vertical"] {
    --repel-vertical-alignment: stretch;
    --repel-direction: column;
  }
}
