/*
 * SIDEBAR
 * A layout that provides a flexible sidebar and main content area.
 * Info: https://every-layout.dev/layouts/sidebar/
 * Info: https://piccalil.li/blog/building-a-breakout-element-with-container-units/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --sidebar-target-width: The preferred width of the sidebar.
 * --sidebar-content-min-width: The minimum width of the main content area.
 * --sidebar-vertical-alignment: The vertical alignment of the sidebar and main
 * content.
 * --sidebar-space: The space between the sidebar and the main content.
 * 
 * A data attribute [data-sidebar="rtl"] can be used to reverse the direction of
 * the layout.
 */

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--sidebar-vertical-alignment, stretch);
  gap: var(--sidebar-space, var(--space-gutter));

  &:not([data-direction="rtl"]) > :first-child {
    flex-basis: var(--sidebar-target-width, 20rem);
    flex-grow: 1;
  }

  &:not([data-direction="rtl"]) > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--sidebar-content-min-width, 50%);
  }

  &[data-reversed] {
    flex-direction: row-reverse;
  }

  &[data-direction="rtl"] > :last-child {
    flex-basis: var(--sidebar-target-width, 20rem);
    flex-grow: 1;
  }

  &[data-direction="rtl"] > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--sidebar-content-min-width, 50%);
  }
}
