/*
WRAPPER COMPOSITION 
A common wrapper/container
*/

@use "sass:map";
@use "../00-settings/theme-config.scss" as config;

// Store breakpoints in variable
$breakpoints: map.get(config.$theme, "breakpoints");

.wrapper {
  inline-size: 100%;
  max-inline-size: calc(
    var(--wrapper-max, var(--layout-max)) + 2 * var(--space-gutter)
  );
  padding-inline: var(--space-wrapper, var(--space-gutter));
  margin-inline: auto;
  position: relative;

  &[data-wrapper="mobile"] {
    --wrapper-max: calc(#{map.get($breakpoints, "mobile")});
  }

  &[data-wrapper="tablet"] {
    --wrapper-max: #{map.get($breakpoints, "tablet")};
  }

  &[data-wrapper="laptop"] {
    --wrapper-max: #{map.get($breakpoints, "laptop")};
  }

  &[data-wrapper="desktop"] {
    --wrapper-max: #{map.get($breakpoints, "desktop")};
  }

  &[data-wrapper="widescreen"] {
    --wrapper-max: #{map.get($breakpoints, "widescreen")};
  }

  &[data-wrapper="gutterless"] {
    --wrapper-space: 0px;
  }

  &[data-wrapper="fullscreen"] {
    --wrapper-max: 100%;
  }
}
