// Modern reset: https://piccalil.li/blog/a-more-modern-css-reset/

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Prevent font size inflation
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Set core body defaults
body {
  min-block-size: max(100vh, 100dvh);
  text-rendering: optimizeSpeed;
  // overflow-x: clip;
  // overflow-inline: clip;
}

// Remove list styles on ul, ol with role="list"
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

// Default styles for unclassed a elements
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

// Make images easier to work with
img,
picture,
iframe,
video {
  max-inline-size: 100%;
  display: block;
  block-size: auto;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Ensure textareas without rows are not tiny
textarea:not([rows]) {
  min-block-size: 10em;
  resize: none;
}

// Remove animations for prefers-reduced-motion
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
